/* UI elemnts */
* {
	-webkit-box-sizing: border-box                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        ;box-sizing: border-box;
}@font-face {
	font-family: Inter;font-weight: 400;font-style: normal;src: url(https://rsms.me/inter/font-files/Inter-Regular.woff2?v=3.7) format('woff2'),url(https://rsms.me/inter/font-files/Inter-Regular.woff?v=3.7) format('woff');
}@font-face {
	font-family: Inter;font-weight: 500;font-style: normal;src: url(https://rsms.me/inter/font-files/Inter-Medium.woff2?v=3.7) format('woff2'),url(https://rsms.me/inter/font-files/Inter-Medium.woff2?v=3.7) format('woff');
}@font-face {
	font-family: Inter;font-weight: 600;font-style: normal;src: url(https://rsms.me/inter/font-files/Inter-SemiBold.woff2?v=3.7) format('woff2'),url(https://rsms.me/inter/font-files/Inter-SemiBold.woff2?v=3.7) format('woff');
}
.divider {
	display: block;width: 100%;height: 1px;margin: 8px 0 8px 0;padding: 0;background-color: #e5e5e5;
}
.switch {
	position: relative;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;align-items: center;-ms-flex-align: center;-webkit-box-orient: horizontal;-webkit-box-direction: normal;-ms-flex-direction: row;flex-direction: row;height: 32px;

	font-family: Inter,sans-serif;font-size: 11px;font-weight: 400;line-height: 16px;letter-spacing: .005em;cursor: default;
}.switch__toggle {
	display: none;
}.switch__toggle:checked + label:before {
	background-color: #000000;
}.switch__toggle:checked + label:after {
	-webkit-transform: translateX(14px)                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        ;transform: translateX(14px);
}.switch__toggle:disabled + label {
	opacity: .3;
}.switch__label {
	display: -webkit-box;display: -ms-flexbox;display: flex;width: 100%;padding-left: 40px;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;
}.switch__label:before {
	position: absolute;top: 10px;left: 6px;display: block;width: 24px;height: 10px;content: '';-webkit-transition: background-color 0 .2s;transition: background-color 0 .2s;border: 1px solid #000000;border-radius: 6px;background-color: #ffffff;
}.switch__label:after {
	position: absolute;top: 10px;left: 6px;display: block;width: 10px;height: 10px;content: '';-webkit-transition: -webkit-transform .2s;transition: -webkit-transform .2s;transition:         transform .2s;transition:         transform .2s,-webkit-transform .2s;border: 1px solid #000000;border-radius: 50%;background-color: #ffffff;
}

/*Plugin specific CSS */
html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
.container {
	display: flex;
	flex-direction: column;

	width: 100%;
	padding: 4px 0;
}

.divider {
	display: block;

	width: 100%;
	height: 1px;
	margin: 4px 0 4px 0;
	padding: 0;

	background-color: #e5e5e5;
}

.sort-button {
	display: flex;
	align-items: center;
	flex-direction: row;

	height: 32px;
	padding: 0 8px 0 8px;

	cursor: default;

	background-repeat: no-repeat;
	background-position: right 8px center;
}

.sort-button__label {
	width: 100%;

	font-family: 'Inter', sans-serif;
	font-size: 11px;
	font-weight: 400;
	line-height: 16px;
	letter-spacing: .005em;

	user-select: none;

	color: rgba(0,0,0,.8);

	font-feature-settings: 'zero' 1;
}

.sort-button:hover {
	background-color: #f0f0f0;
}

.sort-button:active {
	background-color: #daebf7;
}

.sort-button:hover .sort-button__label {
	color: rgba(0,0,0,1.0);
}

.sort-button__icon {
	width: 32px;
	height: 32px;
	margin-right: 16px;
}

.sort-button__icon--reverse {
	background-image: url('data:image/svg+xml,%3Csvg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath fill-rule="evenodd" clip-rule="evenodd" d="M15.8536 8.64648L18.2071 11L15.8536 13.3536L15.1464 12.6465L16.2929 11.5H14C13.4967 11.5 12.7306 11.6551 12.1047 12.1058C11.5042 12.5381 11 13.263 11 14.5V21.75H10V14.5C10 12.9371 10.6624 11.912 11.5203 11.2943C12.3528 10.6949 13.3367 10.5 14 10.5H16.2929L15.1464 9.35359L15.8536 8.64648Z" fill="black" fill-opacity="0.8"/%3E%3Cpath fill-rule="evenodd" clip-rule="evenodd" d="M16.1464 23.1035L13.7929 20.75L16.1464 18.3964L16.8536 19.1035L15.7071 20.25H18C18.5033 20.25 19.2694 20.0949 19.8953 19.6442C20.4958 19.2119 21 18.487 21 17.25V9.99996H22V17.25C22 18.8129 21.3376 19.838 20.4797 20.4557C19.6472 21.0551 18.6633 21.25 18 21.25H15.7071L16.8536 22.3964L16.1464 23.1035Z" fill="black" fill-opacity="0.8"/%3E%3C/svg%3E%0A');
}

.sort-button__icon--position-horz-vert {
	background-image: url('data:image/svg+xml,%3Csvg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath fill-rule="evenodd" clip-rule="evenodd" d="M20.4498 12H10V11H20.4498C21.4207 11 21.8221 12.2442 21.0341 12.8115L11.0502 20H20.2929L18.6464 18.3536L19.3536 17.6464L22.2071 20.5L19.3536 23.3536L18.6464 22.6464L20.2929 21H11.0502C10.0793 21 9.67793 19.7558 10.4659 19.1885L20.4498 12Z" fill="black" fill-opacity="0.8"/%3E%3C/svg%3E%0A');
}

.sort-button__icon--position-vert-horz {
	background-image: url('data:image/svg+xml,%3Csvg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath fill-rule="evenodd" clip-rule="evenodd" d="M11 21.5231L11 11.0732L10 11.0732L10 21.5231C10 22.494 11.2442 22.8953 11.8115 22.1074L19 12.1234L19 21.3661L17.3536 19.7197L16.6464 20.4268L19.5 23.2803L22.3536 20.4268L21.6464 19.7197L20 21.3661L20 12.1234C20 11.1525 18.7558 10.7512 18.1885 11.5391L11 21.5231Z" fill="black" fill-opacity="0.8"/%3E%3C/svg%3E%0A');
}


.sort-button__icon--random {
	background-image: url('data:image/svg+xml,%3Csvg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M13 16C13 16.5523 12.5523 17 12 17C11.4477 17 11 16.5523 11 16C11 15.4477 11.4477 15 12 15C12.5523 15 13 15.4477 13 16Z" fill="black" fill-opacity="0.8"/%3E%3Cpath d="M17 16C17 16.5523 16.5523 17 16 17C15.4477 17 15 16.5523 15 16C15 15.4477 15.4477 15 16 15C16.5523 15 17 15.4477 17 16Z" fill="black" fill-opacity="0.8"/%3E%3Cpath d="M17 19C17 19.5523 16.5523 20 16 20C15.4477 20 15 19.5523 15 19C15 18.4477 15.4477 18 16 18C16.5523 18 17 18.4477 17 19Z" fill="black" fill-opacity="0.8"/%3E%3Cpath d="M13 19C13 19.5523 12.5523 20 12 20C11.4477 20 11 19.5523 11 19C11 18.4477 11.4477 18 12 18C12.5523 18 13 18.4477 13 19Z" fill="black" fill-opacity="0.8"/%3E%3Cpath fill-rule="evenodd" clip-rule="evenodd" d="M13.2491 10.5408C13.8084 10.1875 14.4565 10 15.1181 10H21.5C22.3284 10 23 10.6716 23 11.5V17.3193C23 17.8959 22.7514 18.4444 22.3173 18.8243L19.1118 21.6291C18.8384 21.8683 18.4882 22 18.1248 22H10.4975C9.66752 22 9 21.3268 9 20.5V14.0512C9 13.5365 9.26386 13.0578 9.69901 12.7829L13.2491 10.5408ZM15.1181 11C14.6455 11 14.1826 11.1339 13.7831 11.3863L11.228 13H18.3398L21.1398 11H15.1181ZM18 14H10.0026C10.0009 14.0169 10 14.034 10 14.0512V20.5C10 20.7777 10.223 21 10.4975 21H18V14ZM19 20.3981L21.6588 18.0717C21.8757 17.8819 22 17.6078 22 17.3193V11.6145L19 13.7574V20.3981Z" fill="black" fill-opacity="0.8"/%3E%3C/svg%3E');
}

.sort-button__icon--alpha-asc {
	background-image: url('data:image/svg+xml,%3Csvg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath fill-rule="evenodd" clip-rule="evenodd" d="M10.8966 9L9 14H10.0695L10.4488 13H12.5819L12.92 14H13.9756L12.2852 9H10.8966ZM12.2438 12L11.5767 10.0266L10.8281 12H12.2438Z" fill="black" fill-opacity="0.8"/%3E%3Cpath fill-rule="evenodd" clip-rule="evenodd" d="M12.5534 19H9.5V18H14V18.9789L10.9321 22H14V23H9.5V22.0068L12.5534 19Z" fill="black" fill-opacity="0.8"/%3E%3Cpath fill-rule="evenodd" clip-rule="evenodd" d="M21 10.2071L21 23L20 23L20 10.2071L17.8535 12.3536L17.1464 11.6464L20.5 8.29289L23.8535 11.6464L23.1464 12.3536L21 10.2071Z" fill="black" fill-opacity="0.8"/%3E%3C/svg%3E%0A');
}

.sort-button__icon--alpha-desc {
	background-image: url('data:image/svg+xml,%3Csvg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath fill-rule="evenodd" clip-rule="evenodd" d="M10.8966 9L9 14H10.0695L10.4488 13H12.5819L12.92 14H13.9756L12.2852 9H10.8966ZM12.2438 12L11.5767 10.0266L10.8281 12H12.2438Z" fill="black" fill-opacity="0.8"/%3E%3Cpath fill-rule="evenodd" clip-rule="evenodd" d="M12.5534 19H9.5V18H14V18.9789L10.9321 22H14V23H9.5V22.0068L12.5534 19Z" fill="black" fill-opacity="0.8"/%3E%3Cpath fill-rule="evenodd" clip-rule="evenodd" d="M20 21.7929L20 9H21L21 21.7929L23.1465 19.6464L23.8536 20.3536L20.5 23.7071L17.1465 20.3536L17.8536 19.6464L20 21.7929Z" fill="black" fill-opacity="0.8"/%3E%3C/svg%3E%0A');
}
